html { 
  background: url(https://tianguistengo.github.io/C90A0C90-89FD-4DCB-86B9-506E2613B7B3.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
