
    h1 {
       text-align: center;
       font-size: 26pt;
       color: #894857;
       margin-bottom: 8px;
       padding: 6px;
    }

    p {
       text-align: center;
       font-size: 18pt;
       color: #894857;
       margin-bottom: 8px;
       padding: 6px;
       margin-left: 3px;
       margin-right: 3px;
    }

 a {
       text-align: center;
       font-size: 12pt;
       padding: 6px;
       margin-left: 3px;
       margin-right: 3px;
    }
    

  
