@font-face {
    font-family: 'gothambold';
    src: url(https://fonts.google.com/specimen/Roboto);
    font-weight: bold;
}

@font-face {
    font-family: 'gothamlight';
    src: url(https://fonts.google.com/specimen/Roboto);
}
    
h1 {
       text-align: center;
       font-size: 26pt;
       color: #894857;
       margin-bottom: 8px;
       padding: 6px;
    }

    p {
       text-align: center;
       font-family: Dosis;
       font-size: 18pt;
       color: #894857;
       margin-left: 3px;
       margin-right: 3px;
    }

 a {
       text-align: center;
       font-size: 12pt;
       padding: 6px;
       margin-left: 3px;
       margin-right: 3px;
    }
    

  @import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand');
